@(queryForm: Form[forms.QueryForm.Query])(implicit request: RequestHeader, messages: Messages, environment: play.api.Environment)

@import b3.inline.fieldConstructor

@main("Welcome to Airport Dangerzone - Leading source of your airport requests") {

    <img src="@routes.Assets.versioned("images/favicon.png")" class="img-responsive">

    <h2>Available operations:</h2>

    @helper.form(action = routes.HomeController.query, 'autocomplete -> "off") {
        @helper.CSRF.formField
        <p class="info">Enter country code or country name</p>
        @b3.text(queryForm("queryString"), 'placeholder -> "Country code or country name", 'class -> "form-control input-lg")
        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Query</button>
            </div>
        </div>
    }

    <br>
    <br>
    <a class="btn btn-default" href="/reports">Get the top-10 busiest airports</a>
}
