@import model._
@(top10Countries: List[(Country, Int)], last10Countries: List[(Country, Int)], typeOfSurfacesPerCountry: List[
        (Country, List[String])], top10Identifications: List[(String, Int)])

@main("Welcome to Airport Dangerzone - Leading source of your airport requests") {

    <a type="button" href="@routes.HomeController.index()">Get back!</a>

    <h3>10 countries with highest number of airports (with count)</h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wikipedia</th>
                <th>ISO Code</th>
                <th>Number of airports</th>
            </tr>
        </thead>
    @top10Countries.map { types =>
        <tr>
            <td>@types._1.name</td>
            <td><a href=@types._1.wikipediaLink>@types._1.wikipediaLink</a></td>
            <td>@types._1.code</td>
            <td>@types._2</td>
        </tr>
    }
    </table>

    <h3>10 countries with lowest number of airports (with count)</h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wikipedia</th>
                <th>ISO Code</th>
                <th>Number of airports</th>
            </tr>
        </thead>
    @last10Countries.map { types =>
        <tr>
            <td>@types._1.name</td>
            <td><a href=@types._1.wikipediaLink>@types._1.wikipediaLink</a></td>
            <td>@types._1.code</td>
            <td>@types._2</td>
        </tr>
    }
    </table>

    <h3>Type of runways (as indicated in "surface" column) per country</h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Wikipedia</th>
                <th>ISO Code</th>
                <th>Types of surfaces</th>
            </tr>
        </thead>
    @typeOfSurfacesPerCountry.filterNot(_._2.isEmpty).map { types =>
        <tr>
            <td>@types._1.name</td>
            <td><a href=@types._1.wikipediaLink>@types._1.wikipediaLink</a></td>
            <td>@types._1.code</td>
            <td>@types._2.map(_.toUpperCase).mkString("; ")</td>
        </tr>
    }
    </table>

    <h3>Top 10 most common runway identifications (indicated in "le_ident" column)

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Identification</th>
                    <th>Count</th>
                </tr>
            </thead>
        @top10Identifications.map { ident =>
            <tr>
                <td>@ident._1</td>
                <td>@ident._2</td>
            </tr>
        }
        </table>


}